.stepProgress {
  margin-bottom: 64px;
  margin-left: 82px;

  .title {
    font-size: 32px;
    font-weight: 700;
    padding-bottom: 48px;
  }

  .progressBlock {
    display: flex;
    align-items: center;

    .Line {
      margin: 0 32px;
      height: 1px;
      width: 60px;
      height: 2px;
      background-color: #000;
    }
  }
}

:global(.item) {
  display: flex;
  align-items: center;
  color: lightgray;

}

:global(.number){
  display: flex;
    align-items: center;
    color: lightgray;
  height: 22px;
  width: 22px;
  margin-right: 10px;

  display: flex;
  justify-content: center;
  align-items: center;

  background: #fff;
  border-radius: 50%;

  color: lightgray;
  border: 1px solid lightgray;
  /* base number style */
}

 :global(.active) {
   color: black;

   
 }
 :global(.number.active ){
  color: black;
   height: 22px;
   width: 22px;
   margin-right: 10px;

   display: flex;
   justify-content: center;
   align-items: center;

   background: #000;
   border-radius: 50%;
   color: white;
 }